<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>tms</display-name>

	<!-- <context-param> <param-name>javax.faces.PROJECT_STAGE</param-name> 
		<param-value>Development</param-value> </context-param> -->

	<!-- viewscope/Serializable/@EJB -->
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>none</param-value>
	</context-param>

	<context-param>
		<param-name>cas.logout.host</param-name>
		<param-value>http://10.229.12.153:9090/castest/logout?service=http://10.229.12.181:9080/tms</param-value>
	</context-param>
	<context-param>
		<param-name>cas.login.host</param-name>
		<param-value>http://10.229.12.153:9090/castest/login</param-value>
	</context-param>
	<context-param>
		<param-name>filenet.config</param-name>
		<param-value>qas_config</param-value>
	</context-param>
	<context-param>
		<param-name>tms_isDev</param-name>
		<param-value>false</param-value>
	</context-param>
	<!-- Faces -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<!-- FileUpload -->
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
		<init-param>
			<param-name>thresholdSize</param-name>
			<param-value>50</param-value>
		</init-param>

	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>com.wcs.common.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 启动服务时，确定当前环境用的配置文件 -->
	<listener>
		<listener-class>com.wcs.base.config.loader.ConfigListener</listener-class>
	</listener>

	<!-- 单点注销 -->
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>



	<!-- CAS 客户端配置 -->
	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>
			org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<!-- CAS验证服务器地址，有域名填写域名 -->
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>
				http://10.229.12.153:9090/castest/login
			</param-value>
		</init-param>
		<init-param>
			<param-name>renew</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>gateway</param-name>
			<param-value>false</param-value>
		</init-param>

		<!-- 客户端应用服务器地址 -->
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://10.229.12.181:9080</param-value>
		</init-param>
	</filter>

	<!--负责Ticket校验 -->
	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>
			org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>http://10.229.12.153:9090/castest</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://10.229.12.181:9080</param-value>
		</init-param>

		<init-param>
			<param-name>useSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>redirectAfterValidation</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<filter-class>
			org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>

	<filter>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>




	<!-- Shiro -->
	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
		<init-param>
			<param-name>shrioConfig</param-name>
			<param-value>classpath:shiro.ini</param-value>
		</init-param>
	</filter>

	<filter>
		<display-name>BaseShrioCasFilter</display-name>
		<filter-name>BaseShrioCasFilter</filter-name>
		<filter-class>com.wcs.base.service.BaseShrioCasFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>BaseShrioCasFilter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>

	<resource-ref>
		<res-ref-name>jms/UNSINBOX</res-ref-name>
		<res-type>javax.jms.Queue</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref>
		<res-ref-name>jms/ConnectionFactory</res-ref-name>
		<res-type>javax.jms.ConnectionFactory</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<!-- welcome-page -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- error-page -->
	<error-page>
		<error-code>400</error-code>
		<location>/400.xhtml</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/404.xhtml</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/500.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>javax.security.sasl.AuthenticationException</exception-type>
		<location>/error.jsp</location>
	</error-page>

</web-app>